.log{
    max-height: 80px;
}
.pagall{
    background-color: #000;
}

.navsty{
    // background-image: linear-gradient(to right, #000, #c9862d );
}
.icon{
    text-align: right;
}
.tlt{
    color: #fff;
    font-size: 25px;
}
.tx1{
    color:#C9862D;
    margin-top: 100px;
    font-weight: normal;
    font-size: 40px;
}
.img1{
border-radius: 80px;
}
.grad{
    background-image: linear-gradient(to right, #c9862d, #9340FF);
    border-radius: 80px;
}
.tx2{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.tx1a1{
    align-items: center;
    text-align: center;
}
.btn{
    background-image: linear-gradient(to right, #c9862d, #9340FF);
    border-radius: 50px; 
    margin-top: 30px;
    font-size: 20px;
    height: 15%;
    width: 40%;
    color: #fff;
}

.img2{
    height: 400px;
   
}